@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
html, body {
	background-color: #d5d5d5;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-image: url('data/bg.jpg');
	color: #e3e3e3;
	margin: 0 auto;
	font-size: 13px;
	font-family: "Ubuntu", "Roboto", sans-serif;
}
.title {
	font-size: 36px;
	text-align: center;
	padding: 8px;
}

#navbar {
	margin: 0 auto;
	/*width: 100%;*/
	/*background-color: #ffffff;*/
	top: 1px;
	left: 1px;
	padding-bottom: 0px;
}

#navcontainer {
	width: 702px;
	max-width: 702px;
	min-width: 702px;
	margin: 0 auto;
	background-color: #ffffff;
}

#navbar a {
	text-decoration: none;
	font-family: "Ubuntu", "Roboto", sans-serif;
	font-size: 26px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 5px;
	background-color: #ffffff;
	color: #5577ff;
	width: 120px;
	display: inline-block;
}

#navbar a:hover {
	background-color: #999999;
	color: #323232;
}

table { padding: 1px; }
tr, td { padding: 2px; }

textarea {
	background-color: #232323;
	border-radius: 10px;
    border: 1px solid transparent;
	outline: none;
	resize: none;
	color: #d7d7d7;
	width: 98%;
	padding: 4px;
}

input, button, select {
	background-color: #343434;
	border: solid 1px #171717;
	outline: none;
	border-radius: 6px;
	color: #d7d7d7;
	padding: 4px; 
}

.button {
        background-color: #343434;
        border: solid 1px #171717;
        outline: none;
	font-size: 14px;
        border-radius: 6px;
        color: #d7d7d7;
	margin: auto;
	padding: 4px;
	display: inline-flex;
}

.avatar {
	border-radius: 50%;
	background: 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 180px;
 	height: 180px;
}

.avatar_small {
        border-radius: 50%;
        background: 50% 50% no-repeat; /* 50% 50% centers image in div */
        width: 48px;
        height: 48px;
}

#msgbox {
	display: block;
	margin: 0 auto;
}

#msgs { 
	background: #333333;
	border-radius: 5px; 
	border: solid 1px #131313;
	padding: 6px;
	height: 360px;
	width: 600px;
	margin: auto;
	overflow-y: hidden; 
}

.replycontain {
	margin: 0 auto;
	width: 600px;
}

.attachment {
	/*max-height: 250px;*/
	display: block;
	margin: 0 auto;
}

.attachment img {
	max-width: 180px;
}

.post {
	padding: 6px;
	border-radius: 5px;
	background-color: #373737;
	color: #ffffff;
	font-size: 14px;
}

.reply {
	background-color: #000000;
	border-radius: 4px 10px 10px;
	border: solid 1px #171717;
	padding: 6px;
	color: #d7d7d7;
}

a {
	color: #5577ff;
	text-decoration: none;
}
a:hover {
	color: #aabbff;
	text-decoration: none;
}
.contain {
	background-color: #121212;
	border: solid 1px #565656;
	width: 690px;
	max-width: 690px;
	min-width: 690px;
	margin: 0 auto;
	padding: 5px;
}

.maincontain {
	margin: 0 auto;
	width: 702px;
}
